html,
body {
    background-color: #eee;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    width: 50%;
}

.title {
    font-size: 60px;
    text-transform: uppercase;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.main-image {
    border-radius: 20px 150px;
    width: 100%;
}

.icon {
    display: inline;
}

footer {
    background-color: rgb(223, 223, 223);
    padding: 20px;
    text-align: center;
}

.wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
}

.create-sub {
    background: #f7f7f7;
    padding: 20px;

    label,
    select {
        display: block;
    }

    label {
        margin-top: 30px;
    }

    select {
        padding: 8px;
        width: 200px;
    }

    input[type="checkbox"] {
        margin: 10px;
    }

    input[type="submit"] {
        background: #15b44a;
        padding: 8px 20px;
        color: #fff;
        border: 0;
        margin-top: 20px;
        border-radius: 25%;
        cursor: pointer;
    }
    fieldset {
        border: 0;
    }
}

a.create {
    text-decoration: none;
    background: #15b44a;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
    border-radius: 25%;
}

.sub-details {
    background: #f7f7f7;
    padding: 20px;

    p {
        margin: 20px 0;
        font-weight: bold;
    }
    button {
        background: #eb1b14;
        padding: 8px 20px;
        color: #fff;
        border: 0;
        border-radius: 25%;
        cursor: pointer;
        display: inline;
        font-size: 13px;
    }
}

.delete-form {
    display: inline;
}

a.back {
    text-decoration: none;
    background: #15b44a;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
    border-radius: 25%;
    display: inline;
    font-size: 13px;
}

.sub-index {
    h1 {
        margin-bottom: 40px;
    }
    .sub-item {
        margin: 10px 0;
        padding: 12px;
        background: #f4f4f4;
        img {
            width: 30px;
            display: inline-block;
        }
        .name {
            color: #15b44a;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }
    }
}
